@mixin desktop {
  @media all and (min-width: 1340px) {
    @content;
  }
}

@mixin onlyDesktop {
  display: none;

  @include desktop() {
    display: block;
    @content;
  }
}

@mixin onlyMobile {
  display: block;
  @content;
  @include desktop() {
    display: none;
  }
}

@mixin container {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  @include desktop() {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@mixin container-small {
  padding-left: 50px;
  padding-right: 50px;
  @include desktop() {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@mixin innerWrapper {
  @include desktop() {
    width: 1140px;
    margin: 0 auto;
  }
}

@mixin bubble {
  opacity: 0;
  transition: 0.2s ease-out;

  @include desktop() {
    opacity: 1;
    transition: 0.5s ease-out;
    transform: scaleY(0.0001);
    transform-origin: bottom center;
  }

  &_intersected {
    opacity: 1;

    @include desktop() {
      transform: scale(1);
    }
  }
}

@mixin button-full-active {
  background: linear-gradient(270deg, #62A74A 5.26%, #FFAF46 102.37%);
}

@mixin button-full-hover {
  background: linear-gradient(270deg, #62A74A 5.26%, #A0AA49 102.37%);
}

@mixin button-outline-hover {
  background: linear-gradient(270deg, #62A74A 5.26%, #A0AA49 102.37%);
}

