@import '../../assets/scss/app.scss';

.howToBuy {
  @include container();

  position: relative;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;

  @include desktop() {
    padding-top: 100px;
  }

  .innerWrapper {
    @include innerWrapper();

    .main_title {
      font-style: normal;
      font-weight: 600;
      font-size: 23px;
      line-height: 125%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include bubble();

      @include desktop() {
        font-size: 50px;
        flex-direction: row;
        justify-content: center;
      }

      span {
        color: #FFF;

        &:first-child {
          background-image: linear-gradient(90deg, #AEB253 0%, #73B45C 100%);
          background-size: 100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          @include desktop() {
            margin-right: 20px;
          }
        }
      }
    }

    .subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 150%;
      color: #BEBEBE;
      margin-top: 16px;
      text-align: center;

      @include bubble();

      @include desktop() {
        font-size: 15px;
        margin-top: 20px;
      }
    }

    .cards {
      position: relative;
      margin-top: 32px;

      @include bubble();

      @include desktop() {
        margin-top: 50px;
        padding: 0px calc(#{$fr} + #{$gap});
      }

      .left_2 {
        @include onlyMobile() {
          width: 117px;
          height: 90px;
          position: absolute;
          top: 250px;
          left: -135px;
        }
      }
      .coin2 {
        @include onlyMobile() {
          width: 100px;
          z-index: -1;
          position: absolute;
          top: -140px;
          left: -40px;
        }
      }
      .coin3 {
        @include onlyMobile() {
          width: 100px;
          z-index: -1;
          position: absolute;
          top: 250px;
          right: -45px;
        }
      }
      .coin4 {
        @include onlyMobile() {
          width: 100px;
          z-index: -1;
          position: absolute;
          bottom: 230px;
          left: -45px;
        }
      }
      .coin5 {
        @include onlyMobile() {
          width: 100px;
          z-index: -1;
          position: absolute;
          bottom: -43px;
          right: -45px;
        }
      }


      .card {
        backdrop-filter: blur(9px);
        border: 1px solid rgba(255, 255, 255, 0.55);
        border-radius: 12px;
        padding: 20px;
        display: flex;
        cursor: pointer;
        transition: 0.2s;
        box-sizing: border-box;

        &:hover {
          background: rgba(168, 156, 181, 0.16);
        }

        @include desktop() {
          padding: 35px 40px 40px 50px;
        }

        &:not(:first-child) {
          margin-top: 20px;
          @include desktop() {
            margin-top: 30px;
          }
        }

        &:nth-of-type(1) .iconWrapper {
          background: linear-gradient(180deg, #FFAF47 0%, #C1B150 100%);
        }

        &:nth-of-type(2) .iconWrapper {
          background: linear-gradient(180deg, #A9B253 0%, #7CB45A 100%);
        }

        &:nth-of-type(3) .iconWrapper {
          background: linear-gradient(180deg, #74B45B 0%, #66B18C 100%);
        }

        &:nth-of-type(4) .iconWrapper {
          background: linear-gradient(180deg, #67B288 0%, #6094B4 100%);
        }

        &:nth-of-type(5) .iconWrapper {
          background: linear-gradient(180deg, #6197B1 0%, #6669B4 100%);
        }

        .iconWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 6px;
          margin-right: 14px;

          @include desktop() {
            width: 75px;
            height: 75px;
            border-radius: 12px;
            margin-right: 40px;
          }

          svg {
            width: 16px;
            height: 16px;
            @include desktop() {
              width: 34px;
              height: 34px;
            }
          }

        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .step {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 125%;
            text-transform: uppercase;
            background-image: linear-gradient(90deg, #73B45C 0%, #AEB253 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;

            @include desktop() {
              font-size: 14px;
            }
          }

          .title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            text-transform: uppercase;
            color: #F3F3F3;
            margin-top: 7px;

            @include desktop() {
              font-size: 26px;
              margin-top: 8px;
            }
          }

          .text {
            margin-top: 12px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 180%;
            color: #BEBEBE;
            word-break: break-all;

            @include desktop() {
              margin-top: 16px;
              font-size: 15px;
            }

            a {
              word-break: break-all;
              display: inline;
              text-decoration: none;
              background-image: linear-gradient(90deg, #73B45C 0%, #AEB253 100%);
              background-size: 100%;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-text-fill-color: transparent;
            }
          }

        }

      }


    }

  }
}