@import '../../assets/scss/app.scss';

.lastNews {
  @include container();
  position: relative;
  overflow: hidden;
  z-index: 40;

  padding-top: 60px;
  padding-bottom: 70px;
  @include desktop() {
    padding-top: 200px;
    padding-bottom: 160px;
  }

  .innerWrapper {
    @include innerWrapper();

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 23px;
      line-height: 125%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      white-space: pre-wrap;

      @include bubble();

      @include desktop() {
        font-size: 50px;
      }

      span {
        color: #FFF;

        &:first-child {
          background-image: linear-gradient(90deg, #AEB253 0%, #73B45C 100%);
          background-size: 100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          @include desktop() {
            margin-right: 20px;
          }
        }
      }
    }

    .subtitle {
      margin-top: 32px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #BEBEBE;

      @include bubble();

      @include desktop() {
        margin-top: 50px;
        font-size: 20px;
      }
    }

    .subtitle2 {
      margin-top: 70px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #BEBEBE;

      @include bubble();

      @include desktop() {
        margin-top: 50px;
        font-size: 20px;
      }
    }

    .partnersWrapper {
      position: relative;

      .right_3 {
        @include onlyMobile() {
          width: 111px;
          height: 103px;
          position: absolute;
          bottom: -45px;
          right: 0px;
        }

      }

      .partners {
        background: radial-gradient(25.39% 279.35% at 75.39% -45.87%, rgba(52, 141, 206, 0.0551) 0%, rgba(52, 151, 206, 0) 50.89%), rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(9px);
        border-radius: 10px;
        border: rgba(255, 255, 255, 0.4);
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 12px 20px;
        margin-top: 16px;

        @include bubble();

        @include desktop() {
          padding: 24px 42px;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: 1fr;
          grid-gap: 0;
          margin-top: 30px;
        }

        .partner {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 38px;
          opacity: 0.5;
          transition: 0.2s;

          &:hover {
            opacity: 1;
          }

          &:nth-child(1) img {
            height: 27px;
            @include desktop() {
              height: 44px;
            }
          }

          &:nth-child(2) img {
            height: 21px;
            @include desktop() {
              height: 34px;
            }
          }

          &:nth-child(3) img {
            height: 25px;
            @include desktop() {
              height: 36px;
            }
          }

          &:nth-child(4) img {
            height: 22px;
            @include desktop() {
              height: 40px;
            }
          }

          &:nth-child(5) img {
            height: 28px;
            @include desktop() {
              height: 45px;
            }
          }

          &:nth-child(6) img {
            height: 25px;
            @include desktop() {
              height: 40px;
            }
          }


          img {
            display: block;
            width: auto;
          }
        }

      }
    }

    .swiperWrapper {
      position: relative;

      :global(.swiper-pagination-bullet) {
        background: white;
        width: 1rem;
        height: 1rem;
        border-radius: .5rem;
        opacity: 1;
      }

      :global(.swiper-pagination) {
        bottom: 22px;
        @include desktop() {
          display: none;
        }
      }

      :global(.swiper-pagination-bullet) {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.26);
      }

      :global(.swiper-pagination-bullet-active) {
        background: linear-gradient(269.94deg, #FFAF46 56.63%, #72B45B 100.03%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      .button {
        @include onlyDesktop() {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 54px;
          height: 54px;
          border: 1px solid #FFFFFF;
          background: transparent;
          box-sizing: border-box;
          backdrop-filter: blur(9px);
          border-radius: 6px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.2s;

          &:disabled {
            cursor: auto;
            opacity: 0.5;
          }

          &:hover:not(:disabled) {
            border: 1px solid transparent;
            background: #7DA94A;
          }

          svg {
            width: 24px;
            height: 24px;
          }

          &_left {
            left: -32px;
            transform: translate(-100%, -50%);

            svg {
              transform: rotate(-90deg);
            }
          }

          &_right {
            right: -32px;
            transform: translate(100%, -50%);

            svg {
              transform: rotate(90deg);
            }
          }
        }
      }

      .swiper {
        padding-bottom: 62px;
        margin-top: 16px;
        @include desktop() {
          margin-top: 30px;
          padding-bottom: 50px;
        }

        .slide {
          padding: 0 1px;
          box-sizing: border-box;
          cursor: pointer;

          .innerWrapper {
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(9px);
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 304px;
            transition: 0.2s;
            box-sizing: border-box;

            @include desktop() {
              border-radius: 10px;
              padding: 24px;
              height: 392px;
            }

            &:hover {
              background: radial-gradient(68.92% 91.45% at 88.33% -5.48%, rgba(157, 206, 52, 0.15) 0%, rgba(52, 188, 206, 0) 100%), rgba(168, 156, 181, 0.16);
            }

            .top {
              display: flex;
              flex-direction: column;
              flex-grow: 1;

              img {
                align-self: center;
                display: block;
                height: 138px;
                width: auto;
                border-radius: 10px;

                @include desktop() {
                  height: 180px;
                }

              }

              .text {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                color: #F3F3F3;
                margin-top: 12px;
                @include desktop() {
                  font-size: 20px;
                  margin-top: 20px;
                }

              }

            }

            .bottom {
              display: flex;
              justify-content: space-between;

              a {
                text-decoration: none;
                display: flex;
                align-items: center;

                span {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 13px;
                  line-height: 140%;
                  background-image: linear-gradient(90deg, #B2C560 0%, #DD6A78 100%);
                  background-size: 100%;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-text-fill-color: transparent;

                  @include desktop() {
                    font-size: 15px;
                  }
                }

                img {
                  width: 20px;
                  height: 20px;
                  @include desktop() {
                    width: 24px;
                    height: 24px;
                  }

                }

              }

              .data {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 140%;
                color: #BEBEBE;
                @include desktop() {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      position: relative;
      @include desktop() {
        flex-direction: row;
        justify-content: center;
      }

      .right_1 {
        @include onlyMobile() {
          width: 124.25px;
          height: 104.25px;
          position: absolute;
          top: -115px;
          left: -70px;
        }
      }
      .coin1 {
        @include onlyMobile() {
          width: 100px;
          z-index: -1;
          position: absolute;
          bottom: -90px;
          left: -0px;
        }
      }

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        box-sizing: border-box;
        border-radius: 4px;
        transition: 0.2s;
        width: 100%;
        @include desktop() {
          width: 170px;
          height: 50px;
          border-radius: 6px;
        }

        span {
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 100%;
          text-transform: uppercase;
          @include desktop() {
            font-size: 14px;
            text-transform: none;
          }
        }

        svg {
          transform: rotate(45deg);
          width: 17px;
          height: 17px;
          @include desktop() {
            width: 25px;
            height: 25px;
          }
        }


      }

      .first {
        border: 1px solid #FFFFFF;
        background: transparent;

        &:hover {
          border: 1px solid transparent;
          background: #62A74A;
        }
      }

      .second {
        margin-top: 16px;
        border: 1px solid rgba(255, 255, 255, 0.11);
        background: rgba(255, 255, 255, 0.05);

        @include desktop() {
          margin-top: 0px;
          margin-left: 20px;
        }

        &:hover {
          border: 1px solid transparent;
          background: #62A74A;
        }

      }


    }


  }
}